<!-- Main view of the plugin ui -->
<div>
    {{'RMS_SCHEDULER.DSL_EDITOR.DESCRIPTION' | translate}}
</div>
<div style="margin-top:10px;">
    <div style="margin-left: 10px;">
        <ace-save
                size="'sm'"
                save-callback="saveDsl()"
                content="editorContent"
                disable="saving">
        </ace-save>
        <span class="text-danger" ng-if="errorsExist">{{'RMS_SCHEDULER.DSL_EDITOR.ERRORS_EXIST' | translate}}</span>
    </div>
    <div ng-model="editorContent.new" ui-ace="{mode: mode, useWrapMode: true, showGutter: true, readonly: false, onLoad : aceLoaded}" style="margin-top:10px; height: 400px;">
    </div>
</div>
