package rules

import org.alien4cloud.rmsscheduler.model.RuleTrigger
import org.alien4cloud.rmsscheduler.model.RuleTriggerStatus
import org.alien4cloud.rmsscheduler.model.MetricEvent
import org.alien4cloud.rmsscheduler.model.TickTocker
import java.util.Date
import java.util.Calendar

rule "$rule.id: Schedule"
    salience 10
    timer ( $rule.timerType: $rule.timerExpression )
	when
	    No scheduled trigger exists with id $rule.id
	    // TODO: here insert scheduleConditions
	then
	    Schedule a trigger with id "$rule.id" for environment "$rule.environmentId" deployment "$rule.deploymentId" running "$rule.action" using a TTL of $rule.duration and a max of $rule.maxRun
	end

rule "$rule.id: Conditionnal trigger"
    salience 5
    activation-group "condition-trigger"
	when
	    // Only add if onlyOneRunning
#if($rule.onlyOneRunning)
	    No running execution with id $rule.id
#end## if($rule.onlyOneRunning)
	    A scheduled non expired trigger exists with id $rule.id
        // Iterate over assertions
$rule.conditions

	then
	    Log "---- Trigger $rule.id -----"
        Fire the trigger
	end

rule "$rule.id: Delete 0 time window"
    salience 4
    activation-group "condition-trigger"
	when
		A scheduled no window trigger exists with id $rule.id
	then
		Delete the trigger
	end

rule "$rule.id: Retry"
    salience 10
    // "retryOnError" value
    enabled $rule.retryOnError
	when
        A trigger with window in ERROR exists with id $rule.id
	then
	    Log "---- Re-schedule de $rule.id -----"
		Reschedule the trigger in $rule.delay
	end

rule "$rule.id: Loop"
    salience 10
    // "loop" value
    enabled $rule.loop
	when
        A trigger with window in DONE exists with id $rule.id
	then
	    Log "---- Re-schedule de $rule.id -----"
		Reschedule the trigger in $rule.delay
	end
